.services-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.services-text10 {
  display: inline-block;
}
 
.services-text11 {
  display: inline-block;
}
 
.services-thq-btn-elm2 {
  text-align: center;
  text-decoration: none;
}
 
.services-thq-section-title-elm3 {
  color: var(--color-primary);
}
 
.services-thq-section-subtitle-elm2 {
  color: var(--color-secondary);
}
 
.services-thq-btn-elm3 {
  text-align: center;
  text-decoration: none;
}
 
.services-thq-contact-dialog-elm {
  position: relative;
}
 
.services-text23 {
  display: inline-block;
}
 
.services-text24 {
  display: inline-block;
}
 
.services-text25 {
  display: inline-block;
}
 
.services-text26 {
  display: inline-block;
}
 
.services-container2 {
  display: none;
}
 
.services-container3 {
  display: contents;
}
