.why-waterside-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.why-waterside-text10 {
  display: inline-block;
}
 
.why-waterside-text11 {
  display: inline-block;
}
 
.why-waterside-text19 {
  display: inline-block;
}
 
.why-waterside-text20 {
  display: inline-block;
}
 
.why-waterside-text21 {
  display: inline-block;
}
 
.why-waterside-text22 {
  display: inline-block;
}
 
.why-waterside-text23 {
  display: inline-block;
}
 
.why-waterside-text24 {
  display: inline-block;
}
 
.why-waterside-text25 {
  display: inline-block;
}
 
.why-waterside-text26 {
  display: inline-block;
}
 
.why-waterside-container2 {
  display: none;
}
 
.why-waterside-container3 {
  display: contents;
}
 
.why-waterside-container4 {
  display: none;
}
 
.why-waterside-container5 {
  display: contents;
}
 
.why-waterside-text27 {
  display: inline-block;
}
 
.why-waterside-text28 {
  display: inline-block;
}
 
.why-waterside-text29 {
  display: inline-block;
}
 
.why-waterside-text30 {
  display: inline-block;
}
