.your-global-representative-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.your-global-representative-text10 {
  display: inline-block;
}
 
.your-global-representative-text11 {
  display: inline-block;
}
 
.your-global-representative-thq-representation-section-elm {
  position: relative;
}
 
.your-global-representative-thq-text-accent-span-elm {
  display: inline-block;
  background: linear-gradient(120deg, var(--color-secondary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.your-global-representative-thq-btn-primary-custom-elm {
  text-decoration: none;
}
 
.your-global-representative-thq-btn-outline-custom-elm {
  text-decoration: none;
}
 
.your-global-representative-container11 {
  display: none;
}
 
.your-global-representative-container12 {
  display: contents;
}
 
.your-global-representative-container13 {
  display: none;
}
 
.your-global-representative-container14 {
  display: contents;
}
 
.your-global-representative-thq-text-accent-elm1 {
  color: var(--color-accent);
}
 
.your-global-representative-thq-btn-elm {
  text-align: center;
  text-decoration: none;
}
 
.your-global-representative-container15 {
  display: none;
}
 
.your-global-representative-container16 {
  display: contents;
}
 
.your-global-representative-container17 {
  display: none;
}
 
.your-global-representative-container18 {
  display: contents;
}
 
.your-global-representative-container19 {
  display: none;
}
 
.your-global-representative-container20 {
  display: contents;
}
 
.your-global-representative-container21 {
  display: none;
}
 
.your-global-representative-container22 {
  display: contents;
}
 
.your-global-representative-thq-doc-highlight-elm {
  color: var(--color-accent);
  position: relative;
}
 
.your-global-representative-container23 {
  display: none;
}
 
.your-global-representative-container24 {
  display: contents;
}
 
.your-global-representative-container25 {
  display: none;
}
 
.your-global-representative-container26 {
  display: contents;
}
 
.your-global-representative-thq-text-accent-elm2 {
  color: var(--color-accent);
}
 
.your-global-representative-text41 {
  font-weight: 700;
}
 
.your-global-representative-text44 {
  font-weight: 700;
}
 
.your-global-representative-container27 {
  display: none;
}
 
.your-global-representative-container28 {
  display: contents;
}
 
.your-global-representative-container29 {
  display: none;
}
 
.your-global-representative-container30 {
  display: contents;
}
 
.your-global-representative-thq-text-highlight-elm {
  color: var(--color-accent);
  display: inline-block;
  position: relative;
}
 
.your-global-representative-thq-btn-primary-elm {
  text-align: center;
  text-decoration: none;
}
 
.your-global-representative-text53 {
  display: inline-block;
}
 
.your-global-representative-text54 {
  display: inline-block;
}
 
.your-global-representative-text55 {
  display: inline-block;
}
 
.your-global-representative-text56 {
  display: inline-block;
}
 
.your-global-representative-container32 {
  display: none;
}
 
.your-global-representative-container33 {
  display: contents;
}
 
.your-global-representative-container34 {
  display: none;
}
 
.your-global-representative-container35 {
  display: contents;
}
 
.your-global-representative-container36 {
  display: none;
}
 
.your-global-representative-container37 {
  display: contents;
}
 
.your-global-representative-container38 {
  display: none;
}
 
.your-global-representative-container39 {
  display: contents;
}
 
.your-global-representative-container40 {
  display: none;
}
 
.your-global-representative-container41 {
  display: contents;
}
 
.your-global-representative-container42 {
  display: none;
}
 
.your-global-representative-container43 {
  display: contents;
}
 
.your-global-representative-container44 {
  display: none;
}
 
.your-global-representative-container45 {
  display: contents;
}
 
.your-global-representative-container46 {
  display: none;
}
 
.your-global-representative-container47 {
  display: contents;
}
 
.your-global-representative-container48 {
  display: none;
}
 
.your-global-representative-container49 {
  display: contents;
}
 
.your-global-representative-container50 {
  display: none;
}
 
.your-global-representative-container51 {
  display: contents;
}
