.contact-dialog-thq-contact-dialog-elm {
  position: relative;
}
 
.contact-dialog-text15 {
  display: inline-block;
}
 
.contact-dialog-text16 {
  display: inline-block;
}
 
.contact-dialog-text17 {
  display: inline-block;
}
 
.contact-dialog-text18 {
  display: inline-block;
}
 
.contact-dialog-text19 {
  display: inline-block;
}
 
.contact-dialog-text20 {
  display: inline-block;
}
 
.contact-dialog-text21 {
  display: inline-block;
}
 
.contact-dialogroot-class-name {
  display: none;
}
 

