.contact-cta-thq-contact-cta-elm {
  position: relative;
}
 
.contact-cta-text3 {
  display: inline-block;
}
 
.contact-cta-text4 {
  display: inline-block;
}
 
.contact-cta-text5 {
  display: inline-block;
}
 
.contact-cta-text6 {
  display: inline-block;
}
 

 

 

 

