.contact-dialog1-thq-thq-contact-dialog-elm-elm {
  position: relative;
}
 
.contact-dialog1-text15 {
  display: inline-block;
}
 
.contact-dialog1-text16 {
  display: inline-block;
}
 
.contact-dialog1-text17 {
  display: inline-block;
}
 
.contact-dialog1-text18 {
  display: inline-block;
}
 
.contact-dialog1-text19 {
  display: inline-block;
}
 
.contact-dialog1-text20 {
  display: inline-block;
}
 
.contact-dialog1-text21 {
  display: inline-block;
}
 
.contact-dialog1root-class-name {
  display: none;
}
 

