.corridors-highlight-thq-corridors-highlight-elm {
  position: relative;
}
 
.corridors-highlight-thq-btn-elm {
  text-decoration: none;
}
 
.corridors-highlight-text11 {
  display: inline-block;
}
 
.corridors-highlight-text12 {
  display: inline-block;
}
 
.corridors-highlight-text13 {
  display: inline-block;
}
 
.corridors-highlight-text14 {
  display: inline-block;
}
 
.corridors-highlight-text15 {
  display: inline-block;
}
 
.corridors-highlight-text16 {
  display: inline-block;
}
 
.corridors-highlight-text17 {
  display: inline-block;
}
 
.corridors-highlight-text18 {
  display: inline-block;
}
 
.corridors-highlight-text19 {
  display: inline-block;
}
 
.corridors-highlight-text20 {
  display: inline-block;
}
 
.corridors-highlight-text21 {
  display: inline-block;
}
 
.corridors-highlight-text22 {
  display: inline-block;
}
 
.corridors-highlight-text23 {
  display: inline-block;
}
 
.corridors-highlight-text24 {
  display: inline-block;
}
 
.corridors-highlight-text25 {
  display: inline-block;
}
 
.corridors-highlight-text26 {
  display: inline-block;
}
 
.corridors-highlight-text27 {
  display: inline-block;
}
 
.corridors-highlight-text28 {
  display: inline-block;
}
 
.corridors-highlight-text29 {
  display: inline-block;
}
 
.corridors-highlight-text30 {
  display: inline-block;
}
 
.corridors-highlight-text31 {
  display: inline-block;
}
 
.corridors-highlight-text32 {
  display: inline-block;
}
 
.corridors-highlight-text33 {
  display: inline-block;
}
