.cta-modal-thq-cta-modal-elm {
  position: relative;
}
 
.cta-modal-text2 {
  display: inline-block;
}
 
.cta-modal-text3 {
  display: inline-block;
}
 
.cta-modal-text4 {
  display: inline-block;
}
 
.cta-modal-text5 {
  display: inline-block;
}
 
.cta-modal-text6 {
  display: inline-block;
}
 
.cta-modal-text7 {
  display: inline-block;
}
 
.cta-modal-text8 {
  display: inline-block;
}
 
.cta-modal-text9 {
  display: inline-block;
}
 
.cta-modalroot-class-name {
  backdrop-filter: blur(5px) blur(5px);
}
