.features8-thq-layout226-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
 
.features8-thq-max-width-elm {
  align-self: flex-start;
}
 
.features8-thq-title1-elm1 {
  text-align: center;
}
 
.features8-thq-description1-elm1 {
  text-align: center;
}
 
.features8-thq-actions-elm1 {
  gap: var(--dl-layout-space-unit);
  flex-wrap: wrap;
}
 
.features8-thq-button-elm1 {
  flex: 1;
}
 
.features8-thq-action1-elm1 {
  text-align: center;
}
 
.features8-thq-button-elm2 {
  flex: 1;
}
 
.features8-thq-action2-elm1 {
  text-align: center;
}
 
.features8-thq-title1-elm2 {
  text-align: center;
}
 
.features8-thq-description1-elm2 {
  text-align: center;
}
 
.features8-thq-actions-elm2 {
  gap: var(--dl-layout-space-unit);
  flex-wrap: wrap;
}
 
.features8-thq-button-elm3 {
  flex: 1;
}
 
.features8-thq-action1-elm2 {
  text-align: center;
}
 
.features8-thq-button-elm4 {
  flex: 1;
}
 
.features8-thq-action2-elm2 {
  text-align: center;
}
 
.features8-thq-title1-elm3 {
  text-align: center;
}
 
.features8-thq-description1-elm3 {
  text-align: center;
}
 
.features8-thq-actions-elm3 {
  gap: var(--dl-layout-space-unit);
  flex-wrap: wrap;
}
 
.features8-thq-button-elm5 {
  flex: 1;
}
 
.features8-thq-action1-elm3 {
  text-align: center;
}
 
.features8-thq-button-elm6 {
  flex: 1;
}
 
.features8-thq-action2-elm3 {
  text-align: center;
}
 
.features8-text10 {
  display: inline-block;
}
 
.features8-text11 {
  display: inline-block;
}
 
.features8-text12 {
  display: inline-block;
}
 
.features8-text13 {
  display: inline-block;
}
 
.features8-text14 {
  display: inline-block;
}
 
.features8-text15 {
  display: inline-block;
}
 
.features8-text16 {
  display: inline-block;
}
 
.features8-text17 {
  display: inline-block;
}
 
.features8-text18 {
  display: inline-block;
}
 
.features8-text19 {
  display: inline-block;
}
 
.features8-text20 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features8-thq-layout226-elm {
    flex-direction: column;
  }
  .features8-thq-content-elm1 {
    align-items: center;
  }
  .features8-thq-content-elm2 {
    align-items: center;
  }
  .features8-thq-content-elm3 {
    align-items: center;
  }
}
 
@media(max-width: 479px) {
  .features8-thq-button-elm1 {
    width: 100%;
  }
  .features8-thq-button-elm2 {
    width: 100%;
  }
  .features8-thq-button-elm3 {
    width: 100%;
  }
  .features8-thq-button-elm4 {
    width: 100%;
  }
  .features8-thq-button-elm5 {
    width: 100%;
  }
  .features8-thq-button-elm6 {
    width: 100%;
  }
}
