.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-social-links-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-navlink10 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm10 {
  text-decoration: none;
}
 
.footer-navlink11 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm11 {
  text-decoration: none;
}
 
.footer-navlink12 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm12 {
  text-decoration: none;
}
 
.footer-navlink13 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm13 {
  text-decoration: none;
}
 
.footer-navlink14 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm14 {
  text-decoration: none;
}
 
.footer-navlink15 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm15 {
  text-decoration: none;
}
 
.footer-navlink16 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm16 {
  text-decoration: none;
}
 
.footer-navlink17 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm17 {
  text-decoration: none;
}
 
.footer-navlink18 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm18 {
  text-decoration: none;
}
 
.footer-navlink19 {
  display: contents;
}
 
.footer-thq-footer-list-item-elm19 {
  text-decoration: none;
}
 
.footer-thq-footer-contact-icon-elm2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-thq-footer-contact-icon-elm3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-link1 {
  display: contents;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 

 

