.logistics-services-header-thq-logistics-services-header-elm {
  position: relative;
}
 
.logistics-services-header-text1 {
  display: inline-block;
}
 
.logistics-services-header-text2 {
  display: inline-block;
}
