.logistics-services-section-thq-logistics-services-section-elm {
  position: relative;
}
 
.logistics-services-section-text10 {
  display: inline-block;
}
 
.logistics-services-section-text11 {
  display: inline-block;
}
 
.logistics-services-section-text12 {
  display: inline-block;
}
 
.logistics-services-section-text13 {
  display: inline-block;
}
 
.logistics-services-section-text14 {
  display: inline-block;
}
 
.logistics-services-section-text15 {
  display: inline-block;
}
 
.logistics-services-section-text16 {
  display: inline-block;
}
 
.logistics-services-section-text17 {
  display: inline-block;
}
 
.logistics-services-section-text18 {
  display: inline-block;
}
 
.logistics-services-section-text19 {
  display: inline-block;
}
 
.logistics-services-section-text20 {
  display: inline-block;
}
 
.logistics-services-section-text21 {
  display: inline-block;
}
 
.logistics-services-section-text22 {
  display: inline-block;
}
