.navigation1-container1 {
  display: contents;
}
 
.navigation1-thq-thq-navigation-link-elm-elm3 {
  text-decoration: none;
}
 
.navigation1-text20 {
  display: inline-block;
}
 
.navigation1-text21 {
  display: inline-block;
}
 
.navigation1-text22 {
  display: inline-block;
}
 
.navigation1-text23 {
  display: inline-block;
}
 
.navigation1-text24 {
  display: inline-block;
}
 
.navigation1-text25 {
  display: inline-block;
}
 
.navigation1-text26 {
  display: inline-block;
}
 
.navigation1-container2 {
  display: none;
}
 
.navigation1-container3 {
  display: contents;
}
