.whc-advantage-end-to-end-thq-process-snapshot-elm {
  position: relative;
}
 
.whc-advantage-end-to-end-text14 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text15 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text16 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text17 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text18 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text19 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text20 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text21 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text22 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text23 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text24 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text25 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text26 {
  display: inline-block;
}
 
.whc-advantage-end-to-end-text27 {
  display: inline-block;
}
